<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/66544abedc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="index.css"/>
    <title>Welcome to Foster Connect</title>
  </head>
  <body>
    
    <div class="wrapper">
      <div class="signPanels">
        <div class="login">
          <div class="title">
            <h1>Welcome to Foster Connect</h1>   
            <h3>Please Sign in below</h3>        
          </div>
          <form action="/login" method="post">

            <div class="email">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="password">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
              <button type="submit">Sign In</button>
          </div>
            <div class="signup">
            <a href="/signupTeacher" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Social Worker</a>
            
            <a href="/signupStudent" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Foster Youth</a>
          </div>  

          </form>
        </div>
      </div>
    </div>


<div class="containter">
  <section class="aboutMe">
    <h2>About Me</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cum voluptatum est, eveniet, tempora, ipsam illum laboriosam dolore sit esse dignissimos fuga reiciendis iure officiis atque saepe voluptate aperiam. Quae.</p>
  </section>
  
  <div class="content">
  <section class="importance">
    <h2>Importance of Foster Connect</h2>
    <p>Lorem ipsum dolor sit amet consecteturw adipisicing elit. Eius non numquam, iure, blanditiis illo ex facilis quasi quis culpa doloribus soluta error dolores amet maxime aperiam architecto vel mollitia iusto.</p>
  </section>
</div>

  <section class="missionStatement">
    <h2>Mission Statement</h2>
    <p>My mission statement is to allow Foster Youth to feel more confident and enrich their knowledge of how adulthood works</p>
  </section>
</div>


<footer>Copyright &copy; Kewaun Cain 2022</footer>

    <script src="mainPage.js"></script>
  </body>
</html>
