<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/66544abedc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="index.css"/>
    <title>Welcome to Foster Connect</title>
  </head>
  <body>
    
    <div class="wrapper">
      <div class="sign-panels">
        <div class="login">
          <div class="title">
            <h1>Welcome to Foster Connect</h1>           
          </div>
          <form action="/login" method="post">

            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>

            <a href="/signupTeacher" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Teacher</a>
            <a href="/signupStudent" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Student</a>

            <button type="submit">Sign In</button>

          </form>
        </div>
      </div>
    </div>


<section class="content">
  <section class="aboutMe">
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat cum voluptatum est, eveniet, tempora, ipsam illum laboriosam dolore sit esse dignissimos fuga reiciendis iure officiis atque saepe voluptate aperiam. Quae.</p>
  </section>
  
  <section class="importance">
    <h1>Importance of Foster Connect</h1>
    <p>Lorem ipsum dolor sit amet consecteturw adipisicing elit. Eius non numquam, iure, blanditiis illo ex facilis quasi quis culpa doloribus soluta error dolores amet maxime aperiam architecto vel mollitia iusto.</p>
  </section>

  <section class="missionStatement">
    <h1>Mission Statement</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores voluptate id necessitatibus ipsum odit dicta consequuntur? Aliquid, pariatur laudantium optio provident numquam dolor ab animi dolorem fuga omnis voluptas eaque?</p>
  </section>

</section>

<footer>Copyright &copy; Kewaun Cain 2022</footer>

    <script src="mainPage.js"></script>
  </body>
</html>
