<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <link rel="stylesheet" href="index.css"/>
    <title>Welcome to Foster Connect</title>
  </head>
  <body>
    <header>
    <img src="img/FosterConnect.png" alt="">
    </header>
  
    <h1>Welcome to Foster Connect</h1> 
  
      <section class="left">
  
        <section class="aboutMe">
          <h2>About Me</h2>
          <p>Hello! My name is Kewaun Cain. Being raised in the foster care system, I understood the systematic disadvantages that prevent youth from accessing resources available to them. During high school, I traveled across the country to speak with Foster Parents and Foster Agencies to bring awareness to these challenges. With this movement we signed the Foster Care Bill of Rights. My drive to assist others in navigating the world has fueled me to work alongside those in the system along with organizations who’s goals align with mine.  </p>
        </section>
  
        <div class="content">
        <section class="importance">
          <h2>Importance of Foster Connect</h2>
          <p>Foster Connect is important because it enables people who are in the system or have been apart of the system to have access to resources and materials needed to successfully navigate their adulting journey.</p>
        </section>
          </  div>
  
        <section class="missionStatement">
          <h2>Mission Statement</h2>
          <p>My mission statement is to allow Foster Youth to feel more confident and enrich their knowledge of how adulthood works. Along with feeling empowered to tackle adulting and other challeneges in their day to day. </p>
        </section>
          </  div>
        </section>
  
  
      <section class="right">
        <div class="login">
          <div class="title">
             
            <h3>Please Sign in below</h3>        
          </div>
          <form action="/login" method="post">
  
            <div class="email">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="password">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
              <button type="submit">Sign In</button>
          </div>
            <div class="signup">
            <a href="/signupTeacher" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Social Worker</a>
            
            <a href="/signupStudent" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Foster Youth</a>
          </div>  
  
          </form>
        </div>
      </section>      
    </section>
  
  
      <script src="mainPage.js"></script>
  </body>
</html>
