<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/66544abedc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="index.css"/>
    <title>Welcome to Foster Connect</title>
  </head>
  <body>
    
    <div class="wrapper">
      <div class="sign-panels">
        <div class="login">
          <div class="title">
            <h1>Welcome to Foster Connect</h1>
           
          </div>

          <form action="/login" method="post">

            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password">
          </div>

            <a href="/signupTeacher" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Teacher</a>
            <a href="/signupStudent" class="btn btn-default"><span class="fa fa-user"></span>Signup as a Student</a>

            <button type="submit">Sign In</button>

          </form>
        </div>
      </div>
    </div>

    <script src="mainPage.js"></script>
  </body>
</html>
