*{
  box-sizing: border-box;
}
body, html {
  background: linear-gradient(to left, rgba(253,187,45,1), rgba(34,193,195,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-left: 1rem;
  margin-bottom: 5rem;
 }

h1, h3{
  color: #e06424;
}
h2{
  color: white;
}
p{
  color: purple;  
}

img{
  max-width:90%;
  height:auto;
  margin-left: 3rem;
}

.left{
  width: 60%;
  float: left;
  margin-top: 1rem;
}
.right{
  width: 40%;
  float: left;
}

.email, .password, button, h3, .signup a {
  margin-top: 1rem;
  display:flex;
  align-items: center;
  flex-direction:column;
}
.aboutMe, .importance, .missionStatement{
  margin-top: 1rem;
}

footer{  
  text-align: center;  
}
button{
  background-color: orange;
  padding: 10px 5px;
  border-radius: 5px;
  border: none;
  color: white;
  font-weight: bold;
}

a{
  text-decoration: none;
}